.form-container{
    text-align: center;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 50%;
}

.fetch-button{
    background-color: #f1356d;
    border: none;
    color: white;
    margin-left: 1rem;
    padding: 3.5px 15px;
    text-align: center;
    display: inline-block;
}

.pagenation-container{
    background-color: white;
  }
  
  .pagination > li > a
  {
      background-color: white;
      color: #f1356d;
  }
  
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover
  {
      color: #f1356d;
      background-color: white;
      border-color: white;
  }
  
  .pagination > .active > a
  {
      color: white;
      background-color: #f1356d !Important;
      border: solid 1px #f1356d !Important;
  }
  
  .pagination > .active > a:hover
  {
      background-color: #f1356d !Important;
      border: solid 1px #f1356d;
  }

  .comments-section{
    margin-top: 2rem;
  }